body {
    text-align: center;
    padding-top: 50px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}